In [ ]:
import os # Inbuilt module for interacting with the operating system

In [ ]:
where_I_am = os.getcwd()

In [17]:
os.environ['CHOCOLATEYLASTPATHUPDATE']

'133913525387203859'

In [ ]:
from datetime import datetime

current_time = datetime.now().strftime("%Y-%m-%d")

In [14]:
import sys
print(sys.platform  )
print(sys.version)

win32
3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]

In [20]:
import time 

print("before sleep")
time.sleep(5)
print("after sleep")

before sleep
after sleep

In [ ]:

from datetime import datetime
odds = [1,3,5,7,9,11,13,15,17,19,21,23, "test.py", 
        25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59, 99999999999999999999999999]
right_this_minute = datetime.now().minute
# right_this_minute = "test.py"
if right_this_minute in odds:
    print("It's an odd minute, you can proceed with the task.")
    print("This code block belongs to if statement")

print("Not odd minute")

print("This code block belongs to else statement")

It's an odd minute, you can proceed with the task.
This code block belongs to if statement
This code block belongs to else statement

In [11]:
print("hello from IPYNB")

hello from IPYNB

In [ ]:
# Chunk of code for fixed number of time -> for loop 

'''
for loop_variable in itterator:
    chunk_of_code
'''


for loop_variable in [7,8,5,3]:
    print(loop_variable)

1
2
3
4

In [17]:
for loop_variable in 'Hello':
    print(loop_variable)

H
e
l
l
o

In [ ]:
# range

for loop_variable in range(5):
    # print("hello")
print(loop_variable)

IndentationError: expected an indented block after 'for' statement on line 3 (1206933218.py, line 5)

In [23]:
import time  
print("before sleep in for loop")
time.sleep(4)
print("after sleep in for loop")

before sleep in for loop
after sleep in for loop

In [ ]:
# from time import sleep
# sleep()

# import time 
# time.sleep(5)


'''
import A
import B

reasule_A = A.F()
result_B = B.F()

'''

Help on built-in function mktime in module time:

mktime(object, /)
    mktime(tuple) -> floating-point number

    Convert a time tuple in local time to seconds since the Epoch.
    Note that mktime(gmtime(0)) will not generally return zero for most
    time zones; instead the returned value will either be equal to that
    of the timezone or altzone attributes on the time module.

In [27]:
import random

dir(random)
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [31]:
random.randint(1, 100)

4

In [ ]:

import time 
import random
from datetime import datetime
odds = [1,3,5,7,9,11,13,15,17,19,21,23,
        25,27,29,31,33,35,37,39,41,43,45,
        47,49,51,53,55,57,59,]

learning_rate = 0.01, .001,.1

for i in range(5):
    right_this_minute = datetime.now().minute 
    random_number_to_wait = random.randint(1, 60)
    time.sleep(random_number_to_wait)
    if right_this_minute in odds:
        print("It's an odd minute, you can proceed with the task.")

    else:   
        print("Not odd minute")

It's an odd minute, you can proceed with the task.
Not odd minute
Not odd minute
It's an odd minute, you can proceed with the task.
It's an odd minute, you can proceed with the task.

In [37]:
# max limit of list 
import sys 
# Theoritical limit 
sys.maxsize
# Practical limit depends on RAM

9223372036854775807

# Datatypes

06-06-2025

### Numbers

In [ ]:
#  int (1,2,-1,0)
# float (1.3,1.5, -1.0, -2.4)

In [7]:
num1 = 10
num2 = 20

In [11]:
num1 - num2

-10

In [12]:
# variable -> a-z, A-Z, 0-9, _
_num = 10

In [13]:
num1, num2 = 3 , 7

num1 % num2

3

In [15]:
(1 + 2) * 3 + 4

13

In [1]:
num1, num3 = 2, 4
num1 ** num3

16

In [ ]:
num1, num2 = 'S2', "s1"

In [ ]:
GLOBAL_VAR = 1
local_var = 1

False

In [ ]:
# Never use this 
# False = 1
# for = 1 
# str = 2
# int = 4

int

In [3]:
type(num3)

int

In [4]:
# Float 
float1 = 1.234
float2 = 1.323

In [5]:
type(float1)

float

In [6]:
my_salary = 100
tax_rate_in_percent = 10
tax_liability = my_salary *tax_rate_in_percent / 100

### String

In [ ]:
"python"
'python'
"""python"""
'''python'''

'python'

In [ ]:

"""
                    python
                    012345
                    ----->
                 ...-3-2-1
                    <-------
"""

In [20]:
my_var1 = 'python'
my_var1[5]
my_var1[-1]

'n'

In [28]:
my_var1[2:5]
# my_var1[-4:-1]

'tho'

In [ ]:
'[start_index, end_index, interval]'

In [30]:
my_var1[::2]

'pto'

In [31]:
my_var1[::-1]

'nohtyp'

In [33]:
# String are immutable 
my_var1[0] = 't'

TypeError: 'str' object does not support item assignment

In [ ]:
# String Formatting 
name = "Srini"
current_name = f"My name is {name}"
current_name = "My name is {}".format(name)
print(current_name)

My name is Srini

In [ ]:
"\n"
"\t"

In [39]:
string1 = "name"
string2 = "dhan"
conctenate_string = string1+string2
print(conctenate_string)

namedhan

In [ ]:
string1 = "*"
print(string1*10)

**********