In [7]:
sting1 = "qwerty"

In [8]:
sting1.upper()

'QWERTY'

In [ ]:
string2 = "QWERTY   "

In [10]:
string2.lower()

'qwerty'

In [11]:
string2 = "    QWERTY   "
string2.strip()

'QWERTY'

In [13]:
string3 = "replace e with a"
string3.replace("pl", "a")

'reaace e with a'

# Datatype (Cont...)

### Boolean

In [ ]:
# True False

In [2]:
import time 
import random
from datetime import datetime
odds = [1,3,5,7,9,11,13,15,17,19,21,23,
        25,27,29,31,33,35,37,39,41,43,45,
        47,49,51,53,55,57,59,]

for i in range(5):
    right_this_minute = datetime.now().minute 
    random_number_to_wait = random.randint(1, 60)
    # time.sleep(random_number_to_wait)
    if right_this_minute in odds:
        print("It's an odd minute, you can proceed with the task.")

    else:   
        print("Not odd minute")

It's an odd minute, you can proceed with the task.
It's an odd minute, you can proceed with the task.
It's an odd minute, you can proceed with the task.
It's an odd minute, you can proceed with the task.
It's an odd minute, you can proceed with the task.

In [5]:
type(False)

bool

# Data Structure in Python

### List

In [ ]:
list1 = [1,2,3,4,5,3]
# Mutable 
# Hold any datatype 
list2 = [1, 'str1', [1,2,3], 1.234 , {}]
# Ordered

4

In [ ]:
'''
list          [1,2,3,4,5,6,7]
index  --->    0 1 2 3 4 5 6 
index  <---             -3   -2  -1 

'''

[1, 2, 3, 5, 3]

In [6]:
list1 = [1,2,3,4,5,3]

In [9]:
list1[0:4]

[1, 2, 3, 4]

In [10]:
list1[2] = 'd'

In [11]:
list1

[1, 2, 'd', 4, 5, 3]

In [39]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9]
concatenated_list = list1+list2

In [13]:
concatenated_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list1.append('appended')

In [15]:
list1

[1, 2, 3, 4, 5, 'appended']

In [40]:
list1.pop(3)

4

In [41]:
list1

[1, 2, 3, 5]

In [19]:
list1.sort()

In [26]:
unsorted_list = [1,5,3,2,4, 'qwe']
unsorted_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
unsorted_list = [1,5,3,2,4, 'qwe']
unsorted_list.insert(1, "first")

In [ ]:
unsorted_list

[1, 'first', 5, 3, 2, 4, 'qwe']

In [30]:
len(unsorted_list)

7

In [ ]:
for itm in unsorted_list:
    if type(itm) in [str]:
        unsorted_list.remove(itm)

In [42]:
string1 = "part1 part2"
list1 = string1.split(" ")

In [ ]:
string1 = "part" \
"1" \
"part" \
"2" \
"part"
list1 = string1.split("part")

In [12]:
list1 = [1, 'asd', 5, 3, 2, 4, 'qwe']

In [13]:
for item in list1:
    # print(item)
    if type(item) in [int]:
        list1.remove(item)

In [14]:
list1

['asd', 3, 4, 'qwe']

### Dictionary

In [ ]:
# Mutable
# key:value
# {key: value}
# unorder collection (3.7)

In [63]:
dict1 = {"name1":"DHan",
         'name2' : 1,
         'name3' : ['Sumanth'],
         'name4': 3.14, }

# TODO: only print the content where value is string?

In [68]:
for key in dict1.keys():
    # print(key)

    print(type(dict1[key]))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'float'>

In [67]:
for val in dict1.values():
    if type(val) in [str]:
        print(val)

# key1: string or number
# value: string, list , dict, numbers

DHan

In [54]:
#  dict are mutable 
dict1['name5'] = 'Manesh'

In [55]:
dict1

{'name1': 'DHan', 1: 1, 1.23: ['Sumanth'], 'name4': 3.14, 'name5': 'Manesh'}

In [57]:
dict1.values()

dict_values(['DHan', 1, ['Sumanth'], 3.14, 'Manesh'])

In [59]:
dict1['name5']

'Manesh'

In [60]:
dict1

{'name1': 'DHan', 1: 1, 1.23: ['Sumanth'], 'name4': 3.14, 'name5': 'Manesh'}

### Tuples

In [5]:
# Immutable 
# ()


tuple1 = (1, 2, 3)

In [7]:
tuple1[1:]

(2, 3)

In [ ]:
tuple1 = (1, 2.12, [1,2,4], "string", {'a':'b'})

In [9]:
tuple1[1] = "sample1"

TypeError: 'tuple' object does not support item assignment

In [11]:
tuple1[2][1] = "qwe"

In [12]:
len(tuple1)

5

In [13]:
tuple2 = ('a','a', 'd')
tuple2.count("a")

2

In [14]:
tuple2.index("a")

0

### Sets

In [ ]:
# sets are unorders unique collection

In [ ]:
fruits = {"apple", "banana", "cherry", "cherry"}

In [16]:
fruits

{'apple', 'banana', 'cherry'}

In [20]:
list1 = [1,2,3,4,5,1,2,3]

In [21]:
set(list1)

{1, 2, 3, 4, 5}

In [22]:
# union , intersection , difference 

A = {1,2,3}
B = {3,4,5}

print(A | B)

{1, 2, 3, 4, 5}

In [ ]:

A & B

{3}

In [24]:
A - B

{1, 2}

In [ ]:
"""
    https://docs.python.org/3/tutorial/datastructures.html
"""

#### Comprehension

1. List Comprehension
2. Dict Comprehension
3. Set Comprehension
4. Tuple Comprehension

In [ ]:
list1 = [1,2,3,4,5,6]

# ques 
# 1. change the data type 
# 2. add "qwe" at the end of each item 
list2 = []
for itm in list1:
    new_itm = str(itm) + "qwe"
    list2.append(new_itm)

list2

In [ ]:
'''
        list3 = [opn for loop_variable  in iterator ]li
'''


list3 = [str(itm) + "qwe" for itm in list1]
list3 = [random.randint(0,itm) for itm in list1]

list3

[0, 2, 1, 2, 2, 5]

In [ ]:
# Dict comprehension 

dict1 = {
    'name1': "a",
    'name2': "b",
    'name3': "c",
    'name4': "d",
}

# Ques:
# "KEY2" value of the the dictionary

In [35]:
dict2 = {key1: key1 + "KEY2" for key1 in dict1 }

In [36]:
dict2

{'name1': 'name1KEY2',
 'name2': 'name2KEY2',
 'name3': 'name3KEY2',
 'name4': 'name4KEY2'}

In [39]:
list1 = [1,2,3,4]

set1 = {itm**2 for itm in set(list1)}

In [40]:
set1

{1, 4, 9, 16}

In [47]:
tup1 = (1,2,3,4,5,6)

tup1 = tuple(itm*itm for itm in [1,2,3,4,5,6])

In [46]:
tup2

(1, 4, 9, 16, 25, 36)